@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.MuiDataGrid-row.custom-row-class {
  height: 120px;
}

p {
  white-space: pre-line;
}
